<html>
    <head>
        <title>Answer Quiz</title>
    </head>

    <body>
        Answer a Quiz
        <br>
        <br>
        {% for question in questions %}
            <form id="quiz" method="POST">
                {{ forloop.counter  }}) {{ question.question }}
                <input type="hidden" name="quiz_id" value="{{ question.id }}"><br>
                <input type="radio" name="answer" value=True>True<br>
                <input type="radio" name="answer" value=False>False<br>
                <input type="submit" value="submit"><br>
                {% csrf_token %}
            </form>
        {% endfor %}
    </body>
</html>
